# Node.js
node_modules/
.env
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json # if you prefer yarn.lock
/dist/
/build/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Others
.idea/ # For IntelliJ/WebStorm
*.swp  # Vim swap files